<div class="sidebar">
  <a href="/" class="logo">
    <img src="https://ca.slack-edge.com/T02GC3VEL-U02CY5SQ93J-4a6eefd47a46-512" alt="Grace Youngblood" />
    <h1>Grace Youngblood</h1>
  </a>
  <ul>
    <li><a href="/projects">Programs</a></li>
    <li><a href="/sketches">Ink</a></li>
  </ul>
</div>
